# Finder
.DS_Store

# Xcode
xcuserdata/
!xcuserdata/default.*
build/

# Project
lib/LibOVR
*.tlog
*.idb
*.pdb
*.obj
samples/BasicOculus/vc2012/Debug/
*.opensdf
*.sdf
*.log
samples/BasicGLTF/vc2012/Debug/
